@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">To Do</h1>
    <h4>Projeto Lista de Tarefas</h4>
    <p>Para iniciar <a asp-controller="Ambientes" asp-action="Create" >crie um ambiente</a>, logo após use a barra lateral à esquerda para acessar os seus ambientes e começar a criar os seus quadros</p>
    <hr>
</div>

@* <div id="root"></div>

@section ReactScripts{

    <script src="~/js/Test.jsx"></script>
} *@
